{{> default/header }}

    <!-- Navigation -->
    {{> default/top-navigation }}

    <!-- Page Content -->
    <div class="container">

      {{{ body }}}

    </div>
    <!-- /.container -->

    <!-- Footer -->
    {{> default/footer }}
